<div class="question-container">
    <section class="horizontal-content">
        <label>{{order}}</label>
    <select [value]="typeInternal" (change)="typechange($event)" style="width: 90%;">
        <option *ngFor="let option of types" [value]="option">{{option}}</option>
    </select>   
    </section>
    <section>
        <h3>Pregunta:</h3>        
        <textarea style="border-radius: 8;" [(ngModel)]="descriptionInternal" rows="3" placeholder="Descripcion" (change)="textchange($event);"></textarea>
    </section>
    <ng-container *ngIf="showResponses">
        <div class="buttons-container">
            <h3>Respuestas:</h3>
            <app-button [text]="'+'" (click)="addResponse();$event.stopPropagation();" [size]="'MEDIUM'" [class]="'button_margin_bottom'"/>
        </div>
        <ng-container *ngFor="let response of responsesList">            
            <app-response [checked]="response.checked" [text]="response.description" [order]="response.order" [type]="typeInternal" 
            (remove)="removeResponse(response)" 
            (changeSelection)="responseChangeSelection($event)"
            (changeText)="saveResponse($event)"/>
        </ng-container>
    </ng-container>

    <section id="answer">
        <h3>Respuesta correcta:</h3>
        <input type="text" [disabled]="showResponses" [(ngModel)]="answerInternal" placeholder="Answer" (change)="answerchange($event)"/>
    </section>
    <section class="buttons-container" id="buttons">
        <app-button [class]="'button'" [text]="'<'" [size]="'MEDIUM'" (click)="onbackpush();$event.stopPropagation();"/>
        <app-button [class]="'button'" [text]="'X'" [size]="'MEDIUM'" (click)="ondeletepush();$event.stopPropagation();"/>
        <app-button [class]="'button'" [text]="'>'"  [size]="'MEDIUM'" (click)="onnextpush(); "/>
    </section>
</div>
