<div class="question-container">
    <section class="horizontal-content">
        <label>{{order}}</label>    
    </section>
    <ng-container *ngIf="type !== QuestionType.GAPS">
        <h3>Pregunta:</h3>        
        <label>{{description}}</label>
    </ng-container>

    <ng-container *ngIf="type === QuestionType.GAPS">
        <h3>Complete los huecos:</h3>
        <app-dynamic-text-inputs
            [textWithMarks]="description"
            (valueChanged)="onValueChange($event)" />
    </ng-container>

    <ng-container *ngIf="showResponses">
        <div class="buttons-container">
            <h3>Respuestas:</h3>            
        </div>
        <ng-container *ngFor="let response of responsesList">            
            <app-response-execution [checked]="response.checked" [text]="response.description" [order]="response.order" [type]="type"
            (remove)="removeResponse(response)" 
            (changeSelection)="responseChangeSelection($event)"
            (changeText)="saveResponse($event)"/>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!showResponses && type !== QuestionType.GAPS">
        <h3>Respuesta:</h3>
        <textarea [disabled]="showResponses" [(ngModel)]="answer" placeholder="Answer" (change)="answerchange($event)"></textarea>
    </ng-container>
    <section class="buttons-container" id="buttons">
        <app-button [class]="'button'" [text]="'<'" [size]="ButtonSize.MEDIUM" (click)="$event.stopPropagation();onbackpush();"/>
        <app-button [class]="'button'" [text]="'X'" [size]="ButtonSize.MEDIUM" (click)="$event.stopPropagation();ondeletepush();"/>
        <app-button [class]="'button'" [text]="'>'"  [size]="ButtonSize.MEDIUM" (click)="$event.stopPropagation();onnextpush(); "/>
    </section>
</div>
