.input-container {
    position: relative;
    margin: 1rem 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.75rem 0.5rem 0.25rem 0.5rem;
}

select {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
}

label, option {
    position: absolute;
    left: 0.5rem;
    top: 0.75rem;
    color: #888;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease;
}



select:focus + label,
label.floating {
    top: -0.1rem;
    font-size: 0.60rem;
    color: #3f51b5;
}
